<!doctype html>
<html>
  <head>
    <title>FRC 4499 Tegra Video Feed</title>
  </head>
  <body>
    <h1 id='video_name' HEADER STYLE="position:absolute; TOP:32px; LEFT:64px;"> Foward View</h1>
    <img id='video' IMG STYLE="position:absolute; TOP:96px; LEFT:64px;" src="{{ url_for('video_feed') }}" >
    <button type="button" onclick="switchImage()">Toggle</button>
  </body>
  <script type="text/javascript">
	var value = 0;
	var switchImage = function() {
		if(value==1){
			document.getElementById("video").src="{{ url_for('video_feed') }}";
			document.getElementById("video_name").innerHTML = "Forward View";
			value =0;
		}
		else{
			document.getElementById("video").src="{{ url_for('video_feed_two') }}";
			document.getElementById("video_name").innerHTML = "Reverse View";
			value = 1;
		}
	}
  </script>
</html>
